<template>
    <div>
        <h1>About page</h1>
        <p>
            This is the About page.
        </p>
<test-component/>
    </div>
</template>

<script>
    import TestComponent from "./components/TestComponent";
    export default {
        components: {TestComponent},
        data() {
            return {

            }
        }
    }
</script>
